<!--  Le ngIf c'est pour attendre que les movies se charge, si je l'enlève rien ne s'affiche
      Il n'y a pas une autre manière de faire pour attendre ???
-->
<div class="jumbotron" >
  <h3 class="text-center" > Search results for : {{query}}</h3>
</div>

<app-movie-list [passed_movie_list] ='movies' *ngIf='movies'> </app-movie-list>


<div class="text-center">
  <nav aria-label="Page navigation">
    <ul class="pagination pagination-lg">
      <li>
        <a aria-label="Previous" (click)="previous_page($event)">
          <span aria-hidden="true">&laquo;</span>
        </a>

        <a aria-label="Next" (click)="next_page($event)">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
