<div>
  <div class="container">
    <div class="text-center">
      <!-- pager -->
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">

        <li [ngClass]="{disabled:pager.current_page === 1}">
          <a (click)="set_page(1)">First</a>
        </li>

        <li [ngClass]="{disabled:pager.current_page === 1}">
          <a (click)="set_page(pager.current_page - 1)">Previous</a>
        </li>

        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.current_page === page}">
          <a (click)="set_page(page)">{{page}}</a>
        </li>

        <li [ngClass]="{disabled:pager.current_page === pager.total_pages}">
          <a (click)="set_page(pager.current_page + 1)">Next</a>
        </li>

        <li [ngClass]="{disabled:pager.current_page === pager.total_pages}">
          <a (click)="set_page(pager.total_pages)">Last</a>
        </li>

      </ul>
    </div>
  </div>
</div>
